@model UsuarioCreacionModel
<h3>Iniciar sesion</h3>
<hr />
<form asp-controller="Usuarios" asp-action="Login" method="post">
    <div class="form-group">
        <label>Email</label>
        <input asp-for="Email" type="email" class="form-control" />

    </div>
    <div class="form-group">
        <label>Passoword</label>
        <input asp-for="Password" type="password" class="form-control" />

    </div>
    <button type="submit" class="btn-primary">Ingresar</button>
    <div asp-validation-summary="All" class="text-danger mt-3"></div>
    
</form>